<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SVG Animation</title>
    <link rel="icon" href="../resources/favicon.svg" type="image/svg+xml">

</head>
<body>
    <!-- Banner SVG -->
    <img src="../resources/banner.drawio.svg" alt="Banner Image" style="width: 100%; height: 300px;">

    <!-- Navigation Bar -->
    <nav class="menue">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="two.html">Page Two</a></li>
            <li><a href="three.html">Page Three</a></li>
        </ul>
    </nav>

    <!-- Heading -->
    <h1>SVG Animation is easy!</h1>

    <!-- SVG Animation -->
    <img src="../resources/page-three.svg" alt="SVG Animation">

</body>
</html>
